<div class="tasks-main-container">

    <div class="tasks-container">
        <div class="tasks-headline-container">
            <h5>TO DO</h5>
        </div>
        <div class="tasks-list-container"></div>
    </div>

    <div class="tasks-container">
        <div class="tasks-headline-container">
            <h5>IN PROGRESS</h5>
        </div>
        <div class="tasks-list-container"></div>
    </div>

    <div class="tasks-container">
        <div class="tasks-headline-container">
            <h5>TESTING</h5>
        </div>
        <div class="tasks-list-container"></div>
    </div>

    <div class="tasks-container">
        <div class="tasks-headline-container">
            <h5>DONE</h5>
        </div>
        <div class="tasks-list-container"></div>
    </div>

</div>