<nav class="navbar">
    <img src="img/joinlogo.png" alt="">
    <div class="nav-items text-white" id="nav-items">
        <div class="single-nav-item ">
            <div class="slected-nav-item active"></div><a href="index.html">
            <h5>Board</h5></a>
        </div>
        <div class="single-nav-item">
            <div class="slected-nav-item"></div><a href="backlog.html">
            <h5>Backlog</h5></a>
        </div>
        <div class="single-nav-item">
            <div class="slected-nav-item"></div><a href="addTask.html">
            <h5>Add Task</h5></a>
        </div>
        <div class="single-nav-item">
            <div class="slected-nav-item"></div><a href="#">
            <h5>Help</h5></a>
        </div>
        <hr class="navbar-hr">
        <div class="single-nav-item">
            <div class="slected-nav-item"></div><a href="#">
            <h5>Privacy</h5></a>
        </div>
        <div class="single-nav-item">
            <div class="slected-nav-item"></div><a href="#">
            <h5>About</h5></a>
        </div>
    </div>
    <img src="img/blank_profil.png" class="profil-img rounded-circle border border-2 border-white " alt="profil">
</nav>