<nav class="navbar bg-primary">
    <img src="../img/joinlogo.png" alt="">
    <div class="nav-items text-white" id="navItems">
        <div class="single-nav-item"><div class="slected-nav-item"></div><a href="#"></a><h5>Board</h5></a></div>
        <div class="single-nav-item"><div class="slected-nav-item"></div><a href="#"></a><h5>Backlog</h5></a></div>
        <div class="single-nav-item"><div class="slected-nav-item"></div><a href="#"></a><h5>Add Task</h5></a></div>
        <div class="single-nav-item"><div class="slected-nav-item"></div><a href="#"></a><h5>Help</h5></a></div>
    </div>
    <img src="../img/blank_profil.png" class="profil-img rounded-circle border border-white " alt="profil">
</nav>