.add-task-main-container {
    margin-left: 24px;
    margin-right: 24px;
}

.add-task-container-bg {
    background-color: #F4F3FB;
    width: 100%;
    height: 30rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.add-task-container-left {
    padding: 20px;
    width: 50%;
    margin-left: 80px;
}

.add-task-container-right {
    padding: 20px;
    width: 50%;
}

.input-fields {
    width: 80%;
    height: 40px;
    margin-top: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.input-field-discription {
    width: 80%;
    height: 180px;
    margin-top: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.input-field-headline {
    margin-top: 20px;
    font-size: 20px;
    color: #1E3190;
    font-weight: bold;
}

.button_plus {
    margin-top: 60px;
    position: absolute;
    width: 50px;
    height: 50px;
    background: #fff;
    cursor: pointer;
    border: 2px solid #1E3190;
    border-radius: 999px;
}
  
.button_plus:after {
    content: '';
    position: absolute;
    transform: translate(-50%, -50%);
    height: 4px;
    width: 50%;
    background: #1E3190;
    top: 50%;
    left: 50%;
}
  
.button_plus:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #1E3190;
    height: 50%;
    width: 4px;
}
  
.button_plus:hover:before,
.button_plus:hover:after {
    background: #fff;
    transition: 0.2s;
}
  
.button_plus:hover {
    background-color: #1E3190;
    transition: 0.2s;
}

.button-cancel {
    border: 0;
    background-color: #F4F3FB;
    border-radius: 5px;
    height: 40px;
    margin-right: 20px;
}

.button-cancel:hover{
    background-color: #1E3190;
    color: white;
}

.button-create-task {
    border: 0;
    background-color: #1E3190;
    color: white;
    border-radius: 5px;
    height: 40px;
}

.button-create-task:hover{
    background-color: blue;
}

.buttons {
    width: 80%;
    height: 55%;
    display: flex;
    justify-content: flex-end;
    align-items: end;
}

.border {
    border: 1px solid lightgrey;
}

.card-details-user {
    min-height: 380px;
    min-width: 680px;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 10px;
    box-shadow: 0px 0px 40px -2px #787878;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 24px;
    margin: 10px;
}

.close-button-container {
    width: 100%;
    height: 20px;
    margin-bottom: 15px;
    display: flex;
    justify-content: flex-end;
}

.close-button-container img {
    height: 16px;
    width: 16px;
    cursor: pointer;
}

.user-container-main {
    width: 100%;
}

.user-container {
    background-color: #F4F3FB;
    border-radius: 10px;
    display: flex;
    align-items: stretch;
    min-height: 82px;
    margin-bottom: 8px;
    cursor: pointer;
    transition: box-shadow 0.15s ease-in-out;
    padding-top: 8px;
    padding-bottom: 8px;
    border: 1px solid lightgrey;
    display: flex;
    align-items: center;
}

.user-container:hover {
    box-shadow: 0 0 13px rgba(0, 0, 0, 0.1) ; 
}

.img-user-container {
    width: 150px;
}

.user-img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-left: 15px;
}

.assignee-user-name {
    width: 200px;
    font-weight: bold;
}

@media (max-width:700px) {
    .add-task-container-bg {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
    }

    .add-task-container-left {
        margin: 0;
        padding: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .add-task-container-right {
        padding: 0;
        width: 100%;
    }

    .width-responsive {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .buttons {
        margin-top: 150px;
        margin-bottom: 15px;
    }

    .button_plus {
        margin-left: 9%;
        width: 40px;
        height: 40px;
    }
}