.tasks-main-container {
    display: flex;
    height: 100vh;
    width: 100%;
    margin-left: 150px;
}

.tasks-container {
    width: 22%;
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-right: 15px;
}

.tasks-headline-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
}

.tasks-list-container {
    background-color: #F4F3FB;
    height: 90%;
}