body {
    font-family: PT Sans !important;
}

.main-container {
    /* height: 50vh; */
    display: flex;
}

.navbar {
    padding: 50px 0 !important;
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 100vh;
    position: fixed !important;
}

.navbar-hr{
    width: 90px;
    margin-left: 30px;
}

.profil-img {
    height: 50px;
    border: solid 2px;
}

.nav-items {
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.nav-items h5 {
    cursor: pointer;
    margin: 20px 0;
    padding-left: 35px;
}

.single-nav-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 150px;
}

.nav-items h5:hover {
    color: #4e95fd;
}

.single-nav-item:hover .slected-nav-item {
    background-color: #4e95fd;
}

.slected-nav-item {
    width: 7px;
    height: 25px;

}

.headline-container {
    margin: 45px;
}

.headline-container h1 {
    font-weight: bold;
    margin-bottom: 0;
}

.join-phrase {
    color: #1E3190;
}

/* fonts */
/* pt-sans-regular - latin */
@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/pt-sans-v17-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('fonts/pt-sans-v17-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/pt-sans-v17-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/pt-sans-v17-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('fonts/pt-sans-v17-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/pt-sans-v17-latin-regular.svg#PTSans') format('svg'); /* Legacy iOS */
  }
  /* pt-sans-italic - latin */
  @font-face {
    font-family: 'PT Sans';
    font-style: italic;
    font-weight: 400;
    src: url('fonts/pt-sans-v17-latin-italic.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('fonts/pt-sans-v17-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/pt-sans-v17-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/pt-sans-v17-latin-italic.woff') format('woff'), /* Modern Browsers */
         url('fonts/pt-sans-v17-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/pt-sans-v17-latin-italic.svg#PTSans') format('svg'); /* Legacy iOS */
  }