.container {
    margin: 200px 15% 200px 15%;
}

.navbar {
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 500px;
}

.profil-img {
 height: 50px;
}

.nav-items h5 {
    cursor: pointer;
}